//Color & Image Variables
$off-white: rgb(252,252,252);
$light-gray: rgb(245,245,245);
$mid-gray: rgb(230,230,230);
$text-gray: rgb(118,118,118);
$border-gray: rgb(200,200,200);
$base-gray: rgb(40,40,40);
$header-gray: rgb(100,100,100);

//Variable Overrides
$header-bg: $off-white;
$footer-bg: $light-gray;
$homepage-bg-image: $off-white;           //top banner image
$course-header-bg: $off-white;
$homepage-bg: $off-white;
$container-bg: $off-white;
$base-font-color: $base-gray;       //course top section
$text-color: $base-font-color;
$link-color: $base-font-color;
$link-hover: rgb(0,121,188);
$content-wrapper-bg: $off-white;         //landing page wrapper
$body-bg: $light-gray;             //base background (extends footer)
$course-bg-color: $off-white;
$button-bg-image: none;
$button-bg-color: $link-hover;
$button-hover-color: $off-white;

//Theme-specific Variables
$light-text: $off-white;
$dark-text: $base-font-color;
$hover-blue: $link-hover;
$text-tint: tint($base-font-color, 75%);
$text-shade: shade($base-font-color, 25%);
$border: 1px solid $border-gray;

//////////////////////////////////////////

//Global Overrides

html {
  background: $light-gray !important;
  min-height: 100vh !important;
  width: 100% !important;
  max-width: 100% !important;
  max-height: auto !important;
  margin: 0;
  padding: 0;
}

body {
 height: 100% !important;
 background: $light-gray;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
} 

.break {
  clear: both;
}

.logo {
  border-radius: 50%;
}

.container {
  background: $off-white;
  min-width: 300px !important;
  max-width: 1200px;
}

#main {
  h1,h2,h3,h4,h5,h6 {
    color: $dark-text;
  }
}

.course {
  background: $off-white;
}

.content-wrapper {
  background: $off-white;
}

.search-button {
  background: $hover-blue !important;
  color: $off-white !important;
  border: 2px solid $hover-blue !important;
  transition: all 0.1s linear 0s;
  &:hover {
    background: transparent !important;
    color: $hover-blue !important;
  }
  &:focus {
    background: $off-white !important;
    box-shadow: none !important;
    outline: none !important;
    color: $hover-blue !important;
  }
  #loading-indicator {
    background: $off-white !important;
  }
}

.wrapper-msg {
  .msg {
    min-width: 300px !important;
  }
}

@media screen and (max-width: 480px) {
  #rotate {
    display: block !important;
  }
}

//////////////////////////////////////////

//LMS Header Overrides

@media only screen and (min-width: 1200px) {
  .header-global {
    .logo {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header-global {
    .logo {
      margin-right: 10px !important;
    }
  }
  .header-global.slim {
    .course-header {
      display: none !important;
    }
    .user {
      max-width: 75% !important;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header-global {
    #username {
      display: none !important;
    }
  }
}

.window-wrap {
  min-width: 0 !important;
}

#global-navigation {
  border-color: $border-gray;
  border-bottom-width: 1px;
  min-width: 0 !important;
  color: $base-gray;
  text-decoration: none;
  text-shadow: none;
  h2 {
    color: $dark-text;
    text-shadow: none;
  }
  a {
    color: $base-gray;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $hover-blue;
      text-decoration: none;
    }
  }  
}

.header-global {  
  .logo {
    margin-right: 40px;
    margin-left: 8px;
    img {
      margin-top: -7px;
    }
  }  
  .nav-global {
    li {
      margin-right: 15px;
    }
  }
  .nav-courseware {
    #btn-login {
      background-color: $hover-blue;
      color: $light-text;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: none;
      margin: 3px 8px 0 0;
      border: 1px solid $hover-blue;
      border-radius: 3px;
      &:hover {
        background: transparent;
        text-decoration: none;
        color: $hover-blue;
      }
    } 
  }
  #username {
    margin-right: 8px;
    border-bottom: none;
    text-overflow: ellipsis;
    a {
      background-color: transparent;
      color: $base-gray;
      text-shadow: none;  
      &:hover {
        color: $hover-blue;
        background-color: transparent;
      }
    }
  }
  #headdrop {
    float: right;
    margin-top: 5px;
    margin-right: 8px;
    .user-menu {
      border-radius: 50%;
      height: 31px;
      width: 31px;
      a:hover {
        color: $hover-blue;
      }
      .user-dropdown {
        height: 100%;
        width: 100%;
        padding: 0;
        text-align: center;
        border-radius: inherit;
        border: 1px solid $base-gray;
        &:hover {
          color: $hover-blue;
          border-color: $hover-blue;
        }
       .fa-custom {
         color: inherit !important;
         margin: auto;
         display: table;
         float: none;
         padding-left: 1px;
        }
      }
      .user-dropdown-menu {
        margin-top: 2px;
        margin-right: 2px;
        a {
          font-weight: normal;
        }
      }  
    }
  }
}

.header-global.slim {
  min-width: 0 !important;
  .logo-header {
    .logo {
      img {
        margin-top: -7px;
      }
    }
    .course-header {
      width: 35%;
      margin-top: 13px;
      text-overflow: ellipsis;
    }
  }
  .user {
    max-width: 50%;
    text-overflow: ellipsis;
    .user-menu {
      height: 31px;
      width: 31px;
      .user-dropdown {
        height: 100%;
        width: 100%;
        padding: 0;
        text-align: center;
        .fa-custom {
          padding: 0 !important;
        }
      }
    }
  }
}

//////////////////////////////////////////

//LMS Footer Overrides

.view-in-course {
  .wrapper-footer {
    margin-top: 0;
  }
}

.wrapper-footer {
  color: $dark-text;
  margin: 0 auto;
  padding: 20px 0 30px 0 !important;

  footer {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px 0 15px;
  }

  ol {
    float: left;
    
    a {
      color: $dark-text;
      font-weight: bold;

      &:hover {
        color: $hover-blue;
        text-decoration: none;
      }
    }
  }
    
  li {
    display: inline;
    padding-right: 15px;
    font-weight: bold;
    &:last-child {
      padding: 0;
    }
  }

  .references {
    float: right;
    margin: 0;
    margin-top: 2px;
    padding: 0;
  }

  .logo-footer {
    margin: 0 auto;
    float: right;
  }

  .copyright {
    font-size: 0.9em;
    margin: 0;
  }
}

@media screen and (max-width: 465px) {
  #terms-of-service {
    display: none !important;
  }
  #t-o-s {
    display: inline !important;
  }
}

@media screen and (min-width: 601px) {
  #references {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .logo-footer {
    display: none;
  }

  #references {
    display: block !important;
    margin: 0 auto;
    text-align: center;
    a {
      color: $dark-text;
      font-size: 0.7em;
      font-weight: bold;
    }
  }

  .copyright {
    font-size: 0.7em;
  }
  
  .nav-colophon {
    ol {
      padding: 0 0 5px 0;
      margin: 0 auto !important;
      width: 100%;
      display: inline;
      text-align: center;
      font-size: 0.9em;
    }
  }
  
  .copyright {
    padding-bottom: 5px;
    margin: 0 auto;
    text-align: center;
  }
}

//////////////////////////////////////////

//Static_Templates Overrides

#main {
  .container.about {
    max-width: 768px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid $border-gray;
    border-radius: 4px;
    background-color: $light-gray;
    a:hover {
      text-decoration: none;
    }
  }
  #container-about {
    line-height: 1.4em;
    p:last-child {
      padding-bottom: 40px;
    } 
  }
  #container-contact {
    #address {
      margin-top: 100px;
    }
  }
}

//////////////////////////////////////////

//Sign In & Student Account Overrides

@media screen and (max-width: 970px) {
  #main {
    .account-settings-container {
      .u-field-orderHistory {
        .u-field-order-title {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #main {
    .account-settings-container {
      .u-field-orderHistory {
        .u-field-order {
          span {
            padding: 2%;
          }
          .u-field-order-title {
            padding-left: 2% !important;
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  #main {
    .account-settings-container {
      .u-field-orderHistory {
        .u-field-order {
          .u-field-order-title {
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #main {
    .account-settings-header-subtitle {
      font-size: 0.9em;
    }
    .account-settings-container {
      .u-field-orderHistory {
        font-size: 0.7em;
        .u-field-order {
          span {
            padding: 4% !important;
          }
          .u-field-order-link {
            margin: 10px auto auto auto;
            width: 100%;
            a {
              padding: 6px;
              font-size: 1em;
              display: table;
              float: none;
              margin: auto;
            }
          }
        }
      }
      #aboutTabSections-tabpanel {
        .account-settings-section-body {
          .field {
            font-size: 0.9em;
            button {
              padding: 6px 9px;
              margin-top: 4px;
              font-size: 0.8em;
            }
            #u-field-value-username {
              width: auto !important;
            }
          }
          .u-field-title {
            font-size: 0.9em;
          }
          .u-field-message {
            font-size: 0.7em;
            padding: 0 0 0 7% !important;
          }
        }
      }
    }
    .wrapper-profile {
      .wrapper-profile-field-account-privacy {
        text-align: center;
        .u-field-value {
          margin: auto auto 5px auto;
        }
      }
      .wrapper-profile-section-two {
        .u-field-header {
          text-align: center;
        }
        .u-field-value {
          text-align: center;
        }
      }
    }
  }
}

#main {
  .login-register-content {
    margin-top: 0;
    padding-top: 20px;
    background: none;
    border-bottom: 1px solid $border-gray;
  }
  .wrapper-profile {
    .wrapper-profile-field-account-privacy {
      .u-field-account_privacy {
        padding: 7px 30px;
        border-radius: 4px;
        border: 1px solid $border-gray;
        .u-field-value {
          padding-top: 2px;
        }
      }
    }
    .wrapper-profile-section-two {
      width: 100%;
      .u-field-title {
        width: auto;
      }
    }
  }
  #login-and-registration-container {
    border: 1px solid $border-gray;
    margin-bottom: 40px;
    padding: 0 20px;
    border-radius: 4px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .form-toggle {
      color: $hover-blue;
      &:hover {
        color: $dark-text;
      }
    }
    #login-form {
      #login {
        a:hover {
          text-decoration: none;
        }
        .login-button {
          color: $light-text;
          background-color: $hover-blue;
          border: 1px solid $hover-blue;
          box-shadow: none;
          text-shadow: none;
          border-radius: 4px;
          &:hover {
            background-color: transparent;
            text-decoration: none;
            color: $hover-blue;
          }
        }
      }
      .toggle-form {
        .nav-btn {
          border: 1px solid $hover-blue;
          color: $hover-blue;
          box-shadow: none;
          text-shadow: none;
          &:hover {
            background: $hover-blue;
            color: $light-text;
          }
        }
      }
    }
    #register-form {
      #register {
        .register-button {
          color: $light-text;
          background-color: $hover-blue;
          border: 1px solid $hover-blue;
          box-shadow: none;
          text-shadow: none;
          border-radius: 4px;
          &:hover {
            background-color: transparent;
            text-decoration: none;
            color: $hover-blue;
          }
        }
      }
      .toggle-form {
        .nav-btn {
          border: 1px solid $hover-blue;
          color: $hover-blue;
          box-shadow: none;
          text-shadow: none;
          &:hover {
            background: $hover-blue;
            color: $light-text;
          }
        }
      }
    }
  }
}

#u-field-link-password {
  border-color: $hover-blue;
  color: $hover-blue;
  background-color: transparent;
  background: none !important;
  &:hover {
    background-color: $hover-blue !important;
    color: $light-text;
  }
}

#content {
  .wrapper-account-settings {
    .account-settings-sections {
      .account-settings-header-subtitle {
        font-family: sans-serif;
        color: $text-gray;
      }
      .ordersTabSections-section-body {
        .u-field-order {
          flex-wrap: wrap;
        }
        .u-field-order-link {
          a {
            border-color: $hover-blue;
            background: $hover-blue;
            color: $light-text;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
          }
        }
      }
    }
  }
}

//////////////////////////////////////////

//Landing Page Overrides

@media screen and (min-width: 0px) and (max-width: 909px) {
  .full-size-input {
    display: none;
  }
  .mobile-input {
    display: block;
  }
}

@media screen and (min-width: 910px) {
  .mobile-input {
    display: none;
  }
  .full-size-input {
    display: block;
  }
}

@media screen and (max-width: 410px) {
  .outer-wrapper {
    padding: 10px 10px 10px 10px !important;
    #home-wrapper {
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1em;
      }
      .course-search {
        input {
          font-size: inherit;
        }
      }
    }
  }
}

#main {
  .home {
    margin: auto;
    max-width: 100%;
    header {
      background-color: $off-white;
      background: $off-white;
      .outer-wrapper {
        #home-wrapper {
          border: 1px solid $border-gray;
          border-radius: 7px;
          .course-search {
            &:hover {
              .search-input {
                border-color: $hover-blue;
              }
            }
            .search-input {
              &:focus {
                border-color: $hover-blue;
              }
            }
          }
          .heading-group {
            margin: 0 auto;
            display: inline;
            text-align: center;
            h1 {
              text-align: inherit;
            }
          }
        }
      }
    }

    .courses-listing {
      max-width: 97%;
      margin: 0 auto;
      .course {
        border-radius: 4px;
        border: 1px solid $off-white;
        margin-bottom: 2px;
        box-shadow: none;
        text-align: center;
        &:hover {
          border: 1px solid #bebebe;
          box-shadow: 0 1px 4px 0 rgba(0,121,188,0.4);
          border-bottom: 3px solid $hover-blue;
          margin-bottom: 0;
        }
        #cpe {
          text-transform: uppercase;
          margin-top: -45px;
          font-size: 12px;
        }
      }
      .course-image {
        border-radius: 4px 4px 0 0;
        .cover-image {
          border-radius: inherit;
          &:before {
            border-radius: inherit;
          }
          .learn-more {
            background: $hover-blue;
          }
          img {
            border-radius: inherit;
            margin: 2 2 2 2  auto;
            max-height: 170px;
            height: auto;
            object-fit: scale-down;
            vertical-align: middle;
          }
          .learn-more {
            border-radius: 4px;
          }
        }
      }

      .course-info {
        height: 165px;
      }
    }
  }
}


//////////////////////////////////////////

//Courseware Overrides

@media screen and (max-width: 1230px) {
  #content {
    .wrapper-course-material {
      .course-material {
        margin-left: 2%;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  #course-success {
    .msg-actions {
      a {
        font-size: 0.85em;
        padding: 10px 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #main {
    .home {
      .page-header-main {
        padding: 0 !important;
        width: 100% !important;
        h2 {
          margin: 5px 0 !important;
          text-align: center;
        }
        .page-subtitle {
          text-align: center;
        }
      }
      .page-header-secondary {
        width: 118px;
        margin: auto;
        text-align: center !important;
        display: table;
        float: none !important;
      }
    }
  }
  .wrapper-course-material {
    .course-material {
      .tabs {
        display: table;
        margin: auto
      }
    }
  }
  #main {
    #instructor-dashboard-content {
      .instructor-nav {
        display: inline-block !important;
        text-align: center;
      }
    }  
    .info-wrapper {
      .updates {
        padding: 20px !important;
        h3 {
          text-align: center;
        }
      }
      .handouts {
        display: inline-block;
        width: 100%;
        margin: auto;
        h4 {
          padding: 12px 20px 20px 20px;
        }
        div {
          padding: 0 20px 0 20px;
        }
      }
    }
  }
  #course-success {
    .msg-actions {
      a {
        padding: 7px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .instructor-info-action {
    font-size: 0.8em !important;
  }
  .window-wrap {
    #head {
      .course-header {
        max-width: 40%;
        text-overflow: ellipsis;
      }
      .user {
        max-width: 45%;
        text-overflow: ellipsis;
      }
    }
  }
  #course-info-progress {
    width: 100% !important;
    padding: 2%;
  }
  #instructor-dashboard-content {
    padding: 2%;
  }
}

@media screen and (max-width: 475px) {
  #main {
    .home {
      .page-header-secondary {
        margin: 0 35% !important;
      }
    }
  }
  #instructor-dashboard-content {
    h2 {
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .wrap-instructor-info {
      display: table !important;
      margin: 5px auto !important;
      float: none !important;
      a {
        width: 90% !important;
        padding: 4% !important;
      }
    }
  }
  #course-success {
    .msg-content {
      h4 {
        font-size: 1em !important;
      }
    }
    .msg-actions {
      font-size: 0.7em;
      a {
        padding: 5px !important;
        font-size: 1em !important;
      }
    }
  }
  #course-info-progress {
    h3 {
      text-align: center;
    }
    .wrap-instructor-info {
      width: 50%;
      margin: 2px 25%;
      a {
        margin-left: 0;
      }
    }
  }
  #grade-detail-graph {
    zoom: 0.8;
  }
}

@media screen and (max-width: 375px) {
  #content {
    font-size: 0.9em !important;
    .course-wrapper {
      #main {
        .sequence-nav {
          width: 100%;
          margin: 0px auto 20px auto;
          button {
            margin: auto;
          }
          .button-previous {
            margin-right: 0 !important;
          }
          .button-next {
            margin-left: 0 !important
          }
          .sequence-list-wrapper {
            display: none;
          }
        }
      }
    }
  }
}

.instructor-info-action {
  background: $hover-blue !important;  
  border: 1px solid $hover-blue !important;
  color: $light-text !important;
  text-align: center !important;
  &:hover {
    background: transparent !important;
    color: $hover-blue !important;
    text-decoration: none !important;
  }
}

#course-container {
  max-width: 1180px;
}

#content { 
  color: $dark-text;
  //top-nav
  .wrapper-course-material {
    max-width: 1180px;
    .course-material {
      .tabs {
        .tab {
          .active {
            color: $hover-blue !important;
            border-bottom-color: $hover-blue !important;
          }
          a {
            &:hover {
              color: $hover-blue !important;
              border-bottom-color: $hover-blue !important;
            }
          }
        }
      }
    }
  }
  //progress page
  .profile-wrapper {
    #course-info-progress {
      .wrapper-msg {
        .auto-cert-message {
          .btn {
            background: $hover-blue;
            border: 1px solid $hover-blue;
            color: rgb(241,241,241);
            box-shadow: none;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
          }
        }
      }
    }
  }
  //course body
  .course-wrapper {
    height: 100%;
      .courseware-bookmarks-button {
        button {
          color: $light-text;
          background: $hover-blue;
          border-color: $hover-blue;
          &:hover {
            color: $hover-blue;
            background: transparent;
          }
        }
      }
      .wrapper-course-modes {
        background: $off-white;
        border-top: $border;
        border-right: $border;
      }
      .accordion {
        border-right: $border;
        border-bottom: $border;
      } 
    }
    .courseware-results-wrapper {
      width: 100%;
      padding: 40px 6%;
      .bookmarks-results-list {
        .list-item-content {
          color: $dark-text !important;
          p {
            color: inherit;
          }
          &:hover {
            color: $hover-blue !important;
          }
        }
      }
    }
    #course-content {
      width: 100%;
      #seq_content {
        min-height: 500px !important;
        .vert-mod {
          height: auto;
          h2,h3 {
            color: $header-gray;
            text-transform: uppercase;
            outline-color: initial;
            font-weight: normal;
          }
          .xblock-student_view-html {
            background: white;
            height: auto;
            padding: 12px 12px 0 12px;
          }
          .problems-wrapper {
            div {
              max-width: 100% !important;
            }
          }
          img {
            width: auto !important;
            height: auto !important;
            object-fit: scale-down !important;
          }
        }
      }
    }
  
  //course home
  #main {
    width: auto;
    margin: 0 auto;
    .container {
      .home {
        max-width: 1180px;
      }
    }
  }
  .container {
    background: transparent;
    width: 100%;
    margin-top: 6px;
    .home {
      max-width: 1200px;
      padding: 20px 0 10px 0;
      .page-header-main {
        padding: 0 10px;
        width: auto;
        h2 {
          margin: 0 0 5px 10px;
        }
      }
      .page-header-secondary {
        background: $hover-blue;
        border: 2px solid $hover-blue;
        border-radius: 3px;
        color: $light-text;
        a {
          color: inherit;
        }
        &:hover {
          background: transparent;
          color: $hover-blue !important;
        }
      }
    }
    .info-wrapper {
      padding: 20px 0;
      .handouts {
        border-left: 1px solid $border-gray;
        a:hover {
          color: $hover-blue;
        } 
      }
    }
  }
  //Instructor Dashboard
  #instructor-dashboard-content {
    #course_info {
      .enrollment-wrapper {
        margin-bottom: 0;
        .totals {
          color: green;
          font-weight: bold;
        }
        table {
          td {
            text-align: center;
          }
        }
        .year-wrapper {
          padding-bottom: 5px;
          button:focus {
            outline: none;
          }
          button.year-total {
            padding: 7px 10px;
          }
          .enrollment-data {
            .data-wrapper {
              vertical-align: top;
              width: 122px;
              display: inline-block;
              margin-top: 5px;
              .btn {
                display: block;
                margin: auto;
                width: 122px;
              }
              tbody {
                padding-top: 5px;
                tr {
                  height: 24px !important;
                  text-align: center;
                }
              }
            }
          }
        }
        table {
          line-height: 1.4em;
          .tip {
            border-bottom: 1px solid $base-gray;
            margin-bottom: 2px;
            text-align: left !important;
          }
        }
      }
    }
    .instructor-nav {
      display: flex;
      flex-wrap: wrap;
      clear: both;
    }
    .wrap-instructor-info {
      display: inline-block;
      width: auto;
      margin: 4px;
      float: right;
      a {
        margin-left: 0;
      }
    }
  }
}

.course-info {
  color: $base-font-color;
  background-color: $off-white;
}

.course-image {
  background-color: $off-white;
}

#wrap {
  padding: 0;
  margin: 0 auto;
 
  a {
    color: $text-shade;
 
    &:hover {
      color: $hover-blue;
    }
  }
}

.courseware-bookmarks-button {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  text-align: center;
}

.course-info {
  header {
    margin-bottom: 25px;
    max-height: 95%;
  }
}

.intro-inner-wrapper {
  .media {
    .hero {
      img {
        margin: 10 10 10 10 auto;
        max-height: 200px;
        height: auto;
        object-fit: scale-down;
        vertical-align: middle;
        border: none;
      }
    }
  }
}

///////////////////////////////////////////

//About Page Overrides

@media screen and (max-width: 850px) {
  .course-sidebar {
    clear: both;
    float: none;
    width: 100% !important;
    margin: 0 auto 20px auto;
    padding-right: 10px;
    padding-bottom: 30px;
    .course-summary {
      header {
        padding-top: 0 !important;
      }
    }
  }

  .course-info {
    width: auto;
    margin: 0 auto;
    padding: 0;
    
    .details {
      max-width: 98% !important;
      width: 98% !important;
      .inner-wrapper {
        padding: 0 10px 0 10px;
      }

      .studio-view {
        width: 42%;
        margin: auto;
        a {
          margin: auto !important;
          width: auto;
          display: table;
          float: none !important;
        }
      }
    }    
  }
}

@media screen and (max-width: 650px) {
  #content {
    .intro-inner-wrapper {
      .media {
        .hero {
          margin-top: 25% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  #content {
    .intro-inner-wrapper {
      .media {
        .hero {
          margin-top: 40% !important;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #content {
    .intro-inner-wrapper {
      .media {
        .hero {
          margin-top: 70% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
    .course-profile {
      .intro-inner-wrapper {
        margin: 0 auto;
      }
      .heading-group {
        h1 {
          width: 100%;
        }
      }
      .main-cta {
        a {
          margin: 0 auto;
        }
      }
      .media {
        display: none !important;
      }
    }
}

@media screen and (max-width: 328px) {
  .course-profile {
    .heading-group {
      h1 {
        font-size: 27px;
      }
    }
    .main-cta {
      margin: 0 auto;
      font-size: 0.8em;
    }
  }
}

.course-info {
  .intro-inner-wrapper {
    margin: 0 20px 0 20px;
  }
}

.course-sidebar {
  padding: 0 10px 0 10px;
}

#content {
  .course-info {
    header {
      padding-top: 75px;
      .intro-inner-wrapper {
        min-width: 320px;
        .heading-group {
          h1 {
            text-align: center;
            text-shadow: none;
          }
        }
        .main-cta {
          .register {
            box-shadow: none;
            background: $hover-blue;
            background-image: none;
            border: 2px solid $hover-blue;
            color: $light-text;
            text-shadow: none;
            transition: all 0.1s linear 0s;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
          }
          .add-to-cart {
            box-shadow: none;
            background: $hover-blue;
            background-image: none;
            border: 2px solid $hover-blue;
            color: $light-text;
            text-shadow: none;
            transition: all 0.1s linear 0s;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
          }
          .disabled {
            background: transparent !important;
            color: $hover-blue !important;
            &:hover {
              background: transparent !important;
              color: $hover-blue !important;
            }
          }
          strong {
            box-shadow: none;
            background: $hover-blue;
            background-image: none;
            border: 2px solid $hover-blue;
            color: $light-text;
            text-shadow: none;
            transition: all 0.1s linear 0s;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
          }
        }
        .media {
          background: transparent;
        }
      }
    }
  }
}
#wrap {
  max-width: 1200px;
  margin: 0 auto;
  
  .details {
    max-width: 75%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    float: left; 
    .studio-view {
      margin: auto;
      .instructor-info-action {
        margin-right: 40%;
        float: right;
      }
    }
  }
}


//////////////////////////////////////////

//Dashboard Overrides

@media screen and (max-width: 425px) {
  #my-courses {
    width: 90%;
    
    .course-item {
      .wrapper-course-details {
        padding-top: 6px;
        h3 {
          line-height: 1.4em;
          font-size: 1.4em;
        }
        div {
          font-size: 0.9em;
        }
        a {
          font-size: inherit;
          line-height: inherit;
          text-align: center;
        }
        .wrapper-course-actions {
          float: none;
          width: auto;
          .enter-course {
            margin-top: 6px;
          }
          .wrapper-action-more {
            .action-more {
              padding: 8px !important;
              margin-top: -4px;
            }
          }
        }
      }
      footer {
        .course-status-certavailable {
          .message-copy {
            font-size: 0.85em;
          } 
          .action-certificate {
            .btn {
              padding: 7px 7px 7px 7px;
            }
          }
        }
      }
    }
  }  
}

#dashboard-main {    
  background-color: $off-white;
  opacity: 1;
  background: $off-white;
  margin: 0 auto;
  min-width: 320px !important;  
  #my-courses {
    margin: 0 20px 0 20px;
    header {
      border-bottom: 4px solid $mid-gray;
    }
    .empty-dashboard-message {
      a {
        border-radius: 3px;
        box-shadow: none;
        &:hover {
          background: transparent !important;
          color: $hover-blue !important;
        }
      }
    }
    .course-item {
      .course-container {
        border: 2px solid $mid-gray;
        background-color: $light-gray;
        .course {
          border: 1px solid $base-gray;
          background-color: $off-white;
        }
      }
      .wrapper-course-image {
        a {
          img {
            max-height: inherit;
            object-fit: contain;
          }
        }
      }
      .wrapper-course-details {
        padding-top: 17px;
        .info-date-block {
          display: none;
        }
        h3 {
          a {
            line-height: inherit;
            font-size: 28px;
          }
          span {
            line-height: inherit;
            font-size: 28px;
          }
        }
        .wrapper-course-actions {
          display: inline;
          width: auto;
          .enter-course {
            color: $light-text;
            background: $hover-blue;
            border-color: $hover-blue;
            &:hover {
              color: $hover-blue;
              background: transparent;
            }
          }
          .action-more {
            background: $hover-blue;
            border-color: $hover-blue;
            color: $light-text;
            padding: 11.5px;
            &:hover {
              background: transparent;
              color: $hover-blue;
            }
            .fa-cog {
              color: inherit !important;
            }
          }
        }
      }
      footer {
        margin-top: 4px;
        .course-status-certavailable {
          margin: 0 auto;
          padding: 15px 0 10px 0;
          .message-copy {
            width: 42%;
            padding-left: 5px;
          }
          ul {
            .action-certificate {
              float: right;
              margin-left: 0 !important;
              .btn {
                color: $light-text;
                background: $hover-blue;
                background-image: none !important;
                border: 1px solid $hover-blue;
                box-shadow: none;
                &:hover {
                  color: $hover-blue;
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }

    img {
      max-height: 100%;
      object-fit: cover;
    }    

    .course-container {
      background: $off-white;
      
      article.course {
        background: $off-white;
        padding: 5px;
      }

      .listing-courses {
        a {
          color: $text-shade;

          &:hover {
            color: $text-tint;
          }
        }
      }
    }   

    h2 {
      color: $dark-text;
    }
  }
}

#main {
  .find-courses {
    background: $off-white;
    max-width: 1200px;
    margin: auto !important;
    .search-facets {
      margin: 40px auto 70px 0;
      border-radius: 4px;
      li {
        button:hover {
          background: $hover-blue !important
        } 
      }
    }
    .courses-listing {
      margin: 0 2%;
      .course-image {
        border-radius: 4px 4px 0 0;
        .cover-image {
          border-radius: inherit;
          &:before {
            border-radius: inherit;
          }
          img {
            border-radius: inherit;
            margin: 2 2 2 2 auto;
            max-height: 170px;
            height: auto;
            object-fit: scale-down;
            vertical-align: middle;
          }
          .learn-more {
            border-radius: 4px;
          }
        }
      }

      .course-info {
        height: 165px;
      }
    }
  }
}

//////////////////////////////////////////

//Search Overrides
@media screen and (max-width: 768px) {
  .find-courses {
    .courses-container {
      .courses {
        width: 100% !important;
        .courses-listing {
          width: 95% !important;
          margin: 0 auto !important;
        }
      }
      .search-facets {
        margin-top: 5px !important;
        margin-bottom: 0 !important
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .find-courses {
    .courses-container {
      #discovery-form {
        #discovery-message {
          width: 95% !important;
          margin: auto 2.5% auto 2.5% !important;
          text-align: center;
          padding: 0 !important;
        }
        .wrapper-search-input {
          width: 95% !important;
          float: none;
          margin: 6px 2.5% -14px 2.5% !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #main {
    .find-courses {
      .courses-container {
        width: 100% !important;
      }
    }
  }
}

#main {
  .find-courses {
    width: 100%;
    margin: auto !important;
    .courses-container{
      margin: auto;
      padding: 40px 0 75px 0 !important;
      width: 96%;
      .search-facets {
        float: right;
      }
      #discovery-form {
        max-width: 1200px;
        margin: auto 10px auto 10px;
        padding: 0;
        display: inline;
        width: auto;
        #discovery-message {
          color: $dark-text;
          font-size: 18px;
          font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
          font-weight: lighter;
          text-transform: uppercase;
          text-align: center;
          border-bottom: 2px solid $border-gray !important;
          margin: 0 17% 2px 1%;
          padding-top: 15px !important;
          width: 40%;
        }
        .wrapper-search-input {
          margin: 2px 1% 0 1%;
          width: 40%;
          float: right;
          &:hover {
            #discovery-input {
              border-color: $hover-blue;
            }
          }
          #discovery-input {
            box-shadow: none;
            &:focus {
              border-color: $hover-blue;
            }
          }
        }
      }
      .filter-bar {
        padding: 0 10px 0 10px;
      }
      .courses {
        text-align: center;
        .course-date {
          display: none;
        }
        .sr {
          display: none;
        }
      }
    }
    #filter-bar {
      border-top: 2px solid $mid-gray;
      border-bottom: 2px solid $mid-gray;
    }
    .courses-listing {
      margin: auto;
      .course {
        border-radius: 4px;
        border: 1px solid $off-white;
        margin-bottom: 2px;
        box-shadow: none;
        &:hover {
          border: 1px solid #bebebe;
          box-shadow: 0 1px 4px 0 rgba(0,121,188,0.4);
          margin: 0 auto;
          border-bottom: 3px solid $hover-blue;
        }
        #cpe {
          text-transform: uppercase;
          margin-top: -45px;
          font-size: 12px;
        }
        .course-image {
          border-radius: 4px 4px 0 0;
          .cover-image {
            border-radius: inherit;
            &:before {
              border-radius: inherit;
            }
            .learn-more {
              background: $hover-blue;
            }
            img {
              border-radius: inherit;
            }
            .learn-more {
              border-radius: 4px;
            }            
          }
        }
      }
    }
  }
}

