<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<%
import pandas
import re
from datetime import datetime as dt
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

# establish Google Drive connection/auth
gauth = GoogleAuth()
gauth.LocalWebserverAuth()
drive = GoogleDrive(gauth)


mimetypes = {
    # Drive Document files as MS Word files.
    'application/vnd.google-apps.document': 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
    # Drive Sheets files as MS Excel files.
    'application/vnd.google-apps.spreadsheet': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
}


id_string = 'course-v1:AldenJones+PY101+2017_10'  # { section_data['course_id'] }
instructor = {}
file_names = []
file_ids = []
dates = []


def __main__(course_id):
    def drive_list(parent):
        items = {}
        file_list = drive.ListFile({'q': "'%s' in parents and trashed=false" % parent}).GetList()
        for f in file_list:
            gname = f['title']
            gid = f['id']
            items[gname] = gid
        return items
    root_list = drive_list('root')

    def parse(course_id_string):
        replace = course_id_string.replace("+", "X")
        id_number = re.search('X(.*)X', replace).group(1)
        name_string = re.search(':(.+?)X', replace).group(1)
        name_string = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', name_string)
        instructor[name_string] = id_number
        return id_number
    course_id_number = parse(course_id)

    def strip_df(dataframe):
        dataframe = dataframe.dropna()
        dataframe.columns = dataframe.iloc[0]
        dataframe = dataframe[1:]
        dataframe = dataframe[dataframe.Course == course_id_number]
        del dataframe['Price']
        del dataframe['Course']
        return dataframe

    def drive_to_list(cid):
        file1 = drive.CreateFile({'id': cid})
        download_mimetype = None
        current_mimetype = file1['mimeType']
        if 'application/vnd.google-apps' in current_mimetype:
            download_mimetype = mimetypes[current_mimetype]
        file1.GetContentFile(file1['title'], mimetype=download_mimetype)
        filename = str(file1['title'])
        frame = pandas.read_excel(filename)
        frame = strip_df(frame)
        os.remove(filename)
        return frame['Date'].tolist()

    for name in instructor.keys():
        if name in root_list.keys():
            folder_list = drive_list(root_list[name])
            for key, value in folder_list.items():
                files = drive_list(value)
                for k, v in files.items():
                    file_names.append(k)
                    file_ids.append(v)

    for i in file_ids:
        date_list = drive_to_list(i)
        for d in date_list:
            d = dt.strptime(d, '%m/%d/%Y')
            dates.append(d)

    months = {'1': 'January', '2': 'February', '3': 'March', '4': 'April', '5': 'May', '6': 'June', '7': 'July', '8': 'August', '9': 'September', '10': 'October', '11': 'November', '12': 'December'}
    enrollments = {}

    for v in months.values():
        enrollments[v] = []

    for d in dates:
        s = str(d.month)
        d = dt.strftime(d, '%m/%d/%Y')
        for k, v in months.items():
            if s == k:
                enrollments[v].append(d)

    active_enrollments = {}
    for k, v in enrollments.items():
        if enrollments[k]:
            active_enrollments[k] = v

    return active_enrollments

%>

%if settings.FEATURES.get('DISPLAY_ANALYTICS_ENROLLMENTS') or section_data.get('enrollment_message'):
  <h4 class="hd hd-4">${_("Enrollment Information")}</h4>
  <div class="enrollment-wrapper">
    <% thingy = __main__(id_string) %>
    <p>${thingy}</p>
    %if settings.FEATURES.get('DISPLAY_ANALYTICS_ENROLLMENTS'):
      ## Translators: 'track' refers to the enrollment type ('honor', 'verified', or 'audit')
      <% modes = section_data['enrollment_count'] %>
        <table>
            <caption class="tip">${_("Number of enrollees (admins, staff, and students) by track")}</caption>
            <tr>
                <th scope="row">${_("Verified")}</th><td>${modes['verified']}</td>
            </tr>
            <tr>
                <th scope="row">${_("Audit")}</th><td>${modes['audit']}</td>
            </tr>
            <tr>
                <th scope="row">${_("Honor")}</th><td>${modes['honor']}</td>
            </tr>
            <tr>
                <th scope="row">${_("Professional")}</th><td>${modes['professional'] + modes['no-id-professional']}</td>
            </tr>
            <tr style="color:green;border-top:1px solid #000">
                <th scope="row" style="padding-top:10px;">
                    <strong>${_("Total")}</strong>
                </th>
                <td style="padding-top:10px;">
                    <strong>${modes['total']}</strong>
                </td>
            </tr>
        </table>
      %elif section_data.get('enrollment_message'):
        <p>${section_data['enrollment_message']}</p>
      %endif
  </div>
  <hr>
%endif

<div class="basic-wrapper">
  <h4 class="hd hd-4">${_("Basic Course Information")}</h4>

  <ul class="list-input">

    <li class="field text is-not-editable" id="field-course-number">
      <label for="course-number">${_("Course Number:")}</label>
      <b>${ section_data['course_id'].course}</b>
    </li>

    <li class="field text is-not-editable" id="field-course-display-name">
      <label for="course-display-name">${_("Course Name:")}</label>
      <b>${ section_data['course_display_name']}</b>
    </li>
  % if user.is_staff:
    <li class="field text is-not-editable" id="field-course-start-date">
      <label for="course-start-date">${_("Course Start Date:")}</label>
      <b class="localized-datetime" data-datetime="${section_data['start_date']}" data-timezone="${user_timezone}" data-language="${user_language}"></b>
    </li>

    <li class="field text is-not-editable" id="field-course-end-date">
      <label for="course-end-date">${_("Course End Date:")}</label>
        % if course.end is None:
            <b>${_("No end date set")}</b>
        % else:
            <b class="localized-datetime" data-datetime="${section_data['end_date']}" data-timezone="${user_timezone}" data-language="${user_language}"></b>
        % endif
    </li>
    <li class="field text is-not-editable" id="field-course-started">
      <label for="start-date">${_("Has the course started?")}</label>

      <b>${_("Yes") if section_data['has_started'] else _("No")}</b>

    </li>

    <li class="field text is-not-editable" id="field-course-ended">
      <label for="start-date">${_("Has the course ended?")}</label>
      %if section_data['has_ended']:
      <b>${_("Yes")}</b>
      %else:
      <b>${_("No")}</b>
      %endif
    </li>
  % endif
    <li class="field text is-not-editable" id="field-course-num-sections">
      <label for="course-num-sections">${_("Number of sections:")}</label>
      <b>${ section_data['num_sections'] }</b>
    </li>

    <li class="field text is-not-editable" id="field-grade-cutoffs">
      <label for="start-date">${_("Grade Cutoffs:")}</label>
      <b>${ section_data['grade_cutoffs'] }</b>
    </li>
  </ul>

  %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD', ''):
      <p>
        ## Translators: git is a version-control system; see http://git-scm.com/about
        ${Text(_("View detailed Git import logs for this course {link_start}by clicking here{link_end}.")).format(
            link_start=HTML('<a href="{}">').format(section_data['detailed_gitlogs_url']),
            link_end=HTML('</a>')
        )}
      </p>
  %endif

</div>

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
  <div class="running-tasks-container action-type-container">
    <hr>
    <h4 class="hd hd-4"> ${_("Pending Tasks")} </h4>
    <div class="running-tasks-section">
      <p>${_("The status for any active tasks appears in a table below.")} </p>
      <br />

      <div class="running-tasks-table" data-endpoint="${ section_data['list_instructor_tasks_url'] }"></div>
    </div>
    <div class="no-pending-tasks-message"></div>
  </div>

%endif

%if len(section_data['course_errors']):
  <div class="course-errors-wrapper">
    <hr>
    <p>
    <div class="toggle-wrapper">
      <h4 class="hd hd-4 title">${_("Course Warnings")}:</h4>
      <div class="triangle"></div>
    </div>
    <div class="course-errors-visibility-wrapper">
      %for error in section_data['course_errors']:
        <div class="course-error">
          <code class=course-error-first>  ${ error[0] } </code><br>
          <code class=course-error-second> ${ error[1] } </code>
        </div>
      %endfor
    </div>
    <p>
  </div>
<br>
%endif
