<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <div id="container-contact">
      <div id="contact">
        <h1>${_("Contact")}</h1>
        <table class="contact">
          <tr><td>General inquiries:</td><td><a href="mailto:info@enstructo.com">info@enstructo.com</a></td></tr>
          <tr><td>Comments & non-technical support:</td><td><a href="mailto:feedback@enstructo.com">feedback@enstructo.com</a></td></tr>
          <tr><td>Technical support:</td><td><a href="mailto:support@enstructo.com">support@enstructo.com</a></td></tr>
          <tr><td>Billing inquiries:</td><td><a href="mailto:billing@enstructo.com">billing@enstructo.com</a></td></tr>
          <tr><td>Enstructor Relations:</td><td><a href="mailto:enstructors@enstructo.com">enstructors@enstructo.com</a></td></tr>
        </table>
      </div>
      <br />
      <div id="address">
        <p>Enstructo Incorporated<br>
           2311 N 45th St # 212<br>
           Seattle, WA 98103</p>
      </div>
    </div>
    </section>
</main>
