<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Teach With Us")}</%block>
<style>
  h1 {
    text-shadow: 0.5px 0.5px rgb(34,34,34);
  }
  hr {
    display: none;
  }
  p {
    line-height: 2em;
  }
  @media screen and (max-width: 805px) {
    hr {
      display: block;
    }
    p {
      line-height: 1.5em;
    }
  }

</style>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
      <div style="text-align:center;">
        <img src="https://s3-us-west-2.amazonaws.com/enstructoalpha/binary.png"/>
        <h1 style="font-weight:bold;">${_("Think you have what it takes?")}</h1>
        <hr />
        <p>${_("Are you an expert in one (or more) facets of Data Privacy or Information Security?")}</p>
        <hr />
        <p>${_("If you're a student with Enstructo, odds are you're qualified to become an Enstructor.")}</p>
        <hr />
        <p>${_("Enstructors earn money and CPE credits creating the courses you see on this site.")}</p>
        <hr />
        <p>contact <a href="mailto:info@enstructo.com">info@enstructo.com</a> for more information.</p>
      </div>
    </section>
</main>
