<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Teach With Us")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
      <div id="container-jobs" style="text-align:center;">
        <img src="https://s3-us-west-2.amazonaws.com/enstructo-contentstore/binary.png"/>
        <h1>${_("Think you have what it takes?")}</h1>
        <hr />
        <p>${_("Are you an expert in one (or more) facets of Data Privacy or Information Security?")}</p>
        <hr />
        <p>${_("If you're a student with Enstructo, odds are you're qualified to become an Enstructor.")}</p>
        <hr />
        <p>${_("Enstructors earn money and CPE credits creating the courses you see on this site.")}</p>
        <hr />
        <p>contact <a href="mailto:info@enstructo.com">info@enstructo.com</a> for more information.</p>
      </div>
    </section>
</main>
