//Color & Image Variables
$off-white: rgb(252,252,252);
$light-gray: rgb(245,245,245);
$mid-gray: rgb(230,230,230);
$text-gray: rgb(118,118,118);
$border-gray: rgb(200,200,200);
$base-gray: rgb(40,40,40);
$hover-blue: rgb(0,121,188);
$header-gray: rgb(100,100,100);

//Theme-specific Variables
$light-text: $off-white;
$dark-text: $base-gray;
$border: 1px solid $border-gray;



//Global Overrides

body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
  position: absolute;
}

html {
  width: 100%;
  position: absolute;
}

.break {
  clear: both;
}

#main {
  margin-bottom: 75px;
}

///////////////////////////////

//Header Overrides

.wrapper-header { 
  .branding { 
    a {
      img {
        max-height: 50px;
        display: block;
      }
    }
  }
}

#view-top {
  .nav-account-user {
    .label {
      max-width: 350px;
    }
  
  }

  .info-course {
    min-width: 35%;
  }
 
}

///////////////////////////////

//Dashboard Overrides

.wrapper-mast {
  .new-course-button {
    margin: 0;
  }  
  header {
    .studio-home {
      display: inline-block;
    }
    #header-home {
      min-width: 65%;
      margin: 0;  
    }
    #nav-home {
      max-width: 25%;
      ul {
        width: auto;
        margin: 0 3%;
        li {
          margin: 0 auto;
        }
      }
    }
  }
}
.wrapper-content {
  .content-primary {
    width: 68% !important;
    margin-right: 1.5% !important;
    .notice-item {
      .accidental {
        a {
          color: $dark-text;
          &:hover {
            color: $hover-blue;
          }
        }
      }
    }
  }
  .content-supplementary {
    width: 30% !important;
    hr {
      color: #b2b2b2
    }
    .invoices {
      margin-top: 23px;
      border: 1px solid #b2b2b2;
      border-radius: 3px;
      padding: 5px;
      background: #fff;
      .title {
        text-align: center;
        font-weight: 600;
      }
      div.enstructor {
        margin-bottom: 5px;
        border-bottom: 1px solid #b2b2b2;
        div.year {
          button {
            margin-bottom: 5px;
          }
          th, td {
            padding: 5px;
          }
          table {
            margin: auto;
            .header-row {
              th {
                vertical-align: middle;
              }
            }
          }
        }
      }
      div.enstructor:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

///////////////////////////////

//Courseware Overrides

header {
  .nav-actions {
    display: inline-block;
  }
}

.content-supplementary {
  .external-help-button {
    text-align: center;
    display: block;
  }
}

#main {
  .content-primary {
    .reorderable-container {
      article.xblock-render {
        h3 {
          color: #646464;
          font-weight: normal;
          font-size: 1.3em;
          line-height: 1.4em;
          margin-bottom: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
}

///////////////////////////////

//Settings Overrides

#settings_details {
  textarea {
    resize: vertical;
    height: 175px;
  }
}

///////////////////////////////

//Footer Overrides

.wrapper-footer {
  border-top: 1px solid $border-gray;
  margin: 0;
  .primary {
    .footer-content-secondary {
      .footer-about-copyright {
        margin-top: 4px;
      }
    }
  }
}
