## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%!
  from datetime import date
%>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('about')}">${_("About")}</a></li>
          <li><a href="${reverse('jobs')}">${_("Teach with Us")}</a></li>
          <li><a href="${reverse('contact')}">${_("Contact")}</a></li>
          <li><a href="${reverse('faq')}">${_("FAQ")}</a></li>
          <li id="terms-of-service"><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
          <li id="t-o-s" style="display:none;"><a href="${reverse('tos')}">${_("ToS")}</a></li>
        </ol>
      </nav>
    </div>
    <div class="reference">
      <span>
        <a href="http://openedx.org">
          <img class="logo-footer" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png" width="120" height="40" margin="0" alt="Powered by Open edX" />
        </a>
      </span>
    </div>
    <div class="break"></div>
    <div class="copyright">
        <span>
            ${_('&#xA9;{year} Enstructo Incorporated, all rights reserved.').format(
                year=date.today().year
            )}
        </span>
    </div>
    <div id="references"><a href="http://openedx.org">Powered by Open edX</a></div>
  </footer>
</div>

